body{
    margin: 0mm;
    background-color: rgb(219, 20, 20);
    background-image:  url();
    background-attachment:fixed;
}

#pag{
width: 1000px;
margin:auto;
color: black;
background-color: darkred;



}