body{
    margin:0cm;
    background-image: url(../img/lala.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
#pag{
    width: 1000px;
    margin: auto;
    color: rgba(20, 17, 17, 0.301);
    background-color: #00000083;
}
header{
    background-color:rgb(0, 0, 0);
    background-image: url();
    background-size: 100% 100%;
    color: rgb(247, 248, 248);
    height: 13em;
    max-width: 100%;
    padding: 2em;
    text-align: left;
    font-weight: 400;
}
header h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}
nav {
    background-color: rgba(119, 28, 28, 0.575);
    color: rgb(255, 255, 255);
    padding: 1em;
    max-width: 100%;
}
section{

    color: rgb(248, 247, 248);
    padding: 1em;
    max-width: 100%;
    min-height: 55em;
}

#popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(7, 6, 6, 0.7);
}
#fechar {
    position: absolute;
    right: 80px;
    top: 5px;
    width: 30px;
    height: 30px;
    color: azure;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

#quadro {
    width: 40%;
    margin: 15% auto;
    text-align: center;
    background-color: rgb(226, 226, 226);
    padding: 5%;
    border-radius: 15px;

}

#popup input{
    width: 100%;
    padding: 2%;
    margin: auto;
}

#quadro a {
    text-decoration: none;
}

#quadro a:hover {
    text-decoration: underline;
}

#msg {
    color:rgb(151, 36, 36);
    display: none;
}

ul li {
    float:left;
    width: 33%;
    margin-left: 0;
    text-align: center;
    list-style: none;
    font-size: 25px;
    margin-top: 20px;
    cursor: pointer;
}

ul li a:hover {
    color: red;
}
ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block; 
    padding: 1em;
    font-weight: bold;
}

.polos {
    width: 102%;
    margin-bottom: 10px;
    margin-left: 20px;
}

img {
    width: 30%;
}

.camisas {
    width: 102%;
    margin-bottom: 10px;
    margin-left: 20px;
}
 .tenis {
    width: 102%;
    margin-bottom: 10px;
    margin-left: 20px;
 }
